body{
    max-width: 45rem;
    margin: auto;
    padding:2rem 0;
    background-color: antiquewhite;
    font-family: monospace;
    font-size: 1rem;
    line-height: 1.5;
    color: darkslategray;
}

h1{
    text-align: center;
}

a{
    color:inherit;
}
