body{
    max-width: 50rem;
    font-family: monospace;
    font-size: 1rem;
    background-color: antiquewhite;
    color: darkslategray;
    padding:2rem;
}

h1{
    text-align: center;
}

a{
    color:inherit;
}