body{
    background-color:antiquewhite;
    color:darkslategray;
    max-width: 650px;
    margin: auto;
    padding: 2rem 0.5rem;
    font-family: monospace;
    font-size: 18px;
    line-height: 1.5;
}

h1{
    text-align: center;
}

a{
    color:inherit;
}

a:hover {
    text-decoration: none;
}

#prep li {
    margin-bottom: 12px;
}