:root {
    --background:#FFEBCD; /* Blanched almond */
    --text:#003366;  /* Dark midnight blue */
    --accent:#ff4500; /* Orange red */
}

body{
    background-color: var(--background);
    color: var(--text);
    max-width: 650px;
    margin: auto;
    padding: 2rem 0.5rem;
    font-family: monospace;
    font-size: 18px;
    line-height: 1.5;
}

h1{
    text-align: center;
}

a{
    color:inherit;
}

::selection, a:hover {
    background-color: var(--accent);
    color:var(--background);
    text-decoration: none;
}

#prep li {
    margin-bottom: 12px;
}
