:root {
    --background: #1f302b; /* dark lime green */
    --text: #e9f0c5;  /* light cream green */
/*    --accent: #99af19; /* apple green */
    --accent: #EFAAC4; /* pink */
}

body{
    background-color: var(--background);
    color: var(--text);
    max-width: 800px;
    margin: auto;
    padding: 24px 8px;
    font-family: "Comfortaa", "Quicksand", "Verdana", sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

h1{
    color: var(--accent);
    text-align: center;
}

a{
    color:inherit;
}

::selection, a:hover {
    background-color: var(--accent);
    color: var(--background);
    text-decoration: none;
}

#index-link {
    margin-bottom: 48px;
}

#prep li {
    margin-bottom: 12px;
}
