body{
    background-color:antiquewhite;
    color: darkslategray;
    max-width: 70ch;
    margin: auto;
    padding:2rem .5rem;
    font-size: 1rem;
    line-height: 1.5;
}

h1{
    text-align: center;
}

a{
    color:inherit;
}

a:hover {
    text-decoration: none;
}

#index-page-link {
    font-family: monospace;
}

li {
    padding-bottom: .25em;
    padding-left: .25em
}