:root {
    --background:#1f302b; /* dark lime green */
    --text:#e9f0c5;  /* light cream green */
/*    --accent:#99af19; /* apple green */
    --accent:#EFAAC4; /* pink */
}

body{
    background-color: var(--background);
    color: var(--text);
    max-width: 650px;
    margin: auto;
    padding: 2rem 0.5rem;
    font-family: Quicksand;
    font-size: 18px;
    line-height: 1.5;
}

h1{
    text-align: center;
    color:var(--accent);
}

a{
    color:inherit;
}

::selection, a:hover {
    background-color: var(--accent);
    color:var(--background);
    text-decoration: none;
}

#prep li {
    margin-bottom: 12px;
}
